$toolbar-icon-size: 1em;
$base-color: #1985d0;
$confirm-color: #659D32;
$font-family: Helvetica, sans-serif;
$page-bg-color: #1985d0;
$list-active-color: $base-color;
$list-bg-color: $base-color;
$list-color: #fff;
$list-header-bg-color: $base-color;

.favorite {
    border: 2px outset #C0C0C0; 
    padding: 5px 5px 5px 5px; 
    margin: 15px 15px 15px 15px;
    text-align: center;
}

.square {
    border-radius: 0px;
}

.contact-name{
    color:#00529D;
    padding-left: 4px;
    word-wrap: normal;
}

.toolbarCls {
    background:white !important;
    border-bottom:1px solid #C0C0C0 !important;
}

.emptyText {

    color: #C0C0C0 !important;
    position: absolute !important;
    text-align:center !important;
    vertical-align:middle !important;
    top: 50px !important;
    left:20px !important;
    font-family:Arial !important;
    font-size:4vw !important;
}

.dateValidity {
    color:grey;
    font-size:2.5vw;
    font-style:italics;
    font-weight:normal;
    font-family:'Arial';
    margin:5px 5px 5px 0px;

}
.expiringDate {
    color:grey;/*#ff0000;*/
    font-size:2.5vw;
    font-style:italics;
    font-weight:normal;
    font-family:'Arial';
    margin:5px 5px 5px 0px;

}


.toolbar-icon-color{
    color:white;
}



.tabBarCls {
    padding: 5px,5px,5px,5px;
}



.x-field {
    border-bottom:2px groove #C0C0C0;
    margin:5px 5px 5px 5px;
    height:12vh;
    font-weight:normal;
    text-align:center;
    vertical-align:middle;
    font-family:Arial;
    font-size:4vw







}


.customfield {
    border-bottom:none!important;
    margin:5px 5px 5px 5px;
    height:12vh;
    font-weight:normal;
    vertical-align:middle;
    font-family:Arial;
    font-size:4vw







}


.customfield2 {

    margin:5px 5px 5px 5px;
    height:9vh;
    font-weight:normal;
    vertical-align:middle;
    font-family:Arial;
    font-size:3vw;
    border-bottom:2px ridge #c0c0c0;

}


.custmfield {
    margin:5px 5px 5px 5px;
    height:12vh;
    font-weight:normal;
    text-align:center;
    vertical-align:middle;
    font-family:Arial;
    font-size:4vw;
    border-bottom:none;   







}


.searchfield {
    border-bottom:2px groove #C0C0C0;
    margin:5px 5px 5px 5px;
    font-size:5vw;
    height:12vh;
    font-weight:normal;
    text-align:center;
    vertical-align:middle;
    font-family:Arial;
    border-radius:7px;







}

.wrapper {
    position:absolute; 
    z-index:1;
    top:45px; bottom:48px; left:0;
    width:100%;
    background:#aaa;
    overflow:auto;
}

/* list item rows */
.list-item {
    overflow: hidden;
    white-space: normal;
}

.list-item .photo {
    float: left;
    margin-right: 10px;
    width: 22vw;
    height: 15vh;
}

.list-item h1 {
    white-space: nowrap;
}

.list-item span {
    font-size: 75%;
}

/* photos */
.photo {
    border: 1px solid #999; 
    margin:5px 5px 5px 5px;
}




