$toolbar-icon-size: 1em;
$base-color: #1985d0;
$confirm-color: #659D32;
$font-family: Helvetica, sans-serif;
$page-bg-color: #1985d0;
$list-active-color: $base-color;
$list-bg-color: $base-color;
$list-color: #fff;
$list-header-bg-color: $base-color;

.favorite {
    border: 2px outset #C0C0C0; 
    padding: 5px 5px 5px 5px; 
    margin: 5px 5px 5px 5px;
    text-align: center;
}

.square {
    border-radius: 0px;
}

.contact-name{
    color:#00529D;
    padding-left: 4px;
    word-wrap: normal;
}

.emptyText {
    text-align:center;
    color: #999;

    position: absolute;
    top: 30%;
    margin:5px 5px 5px 5px;
}

.dateValidity {
    color:grey;
    font-size:3.3vw;
    font-style:italics;
    font-weight:normal;

}
.expiringDate {
    color:#ff0000;
    font-size:3.3vw;
    font-style:italics;
    font-weight:normal;

}


.toolbar-icon-color{
    color:white;
}



.tabBarCls {
    padding: 5px,5px,5px,5px;
}



.x-field {
    border-bottom:2px groove #C0C0C0;
    margin:5px 5px 5px 5px;
    font-size:5vw;
    height:12vh;
    font-weight:normal;
    text-align:center;
    vertical-align:middle;
    font-family:sans-serif;







}


.searchfield {
    border-bottom:2px groove #C0C0C0;
    margin:5px 5px 5px 5px;
    font-size:5.5vw;
    height:12vh;
    font-weight:normal;
    text-align:center;
    vertical-align:middle;
    font-family:sans-serif;
    border-radius:7px;







}








