$toolbar-icon-size: 1em;
$base-color: #1985d0;
$confirm-color: #659D32;
$font-family: Helvetica, sans-serif;
$page-bg-color: #1985d0;
$list-active-color: $base-color;
$list-bg-color: $base-color;
$list-color: #fff;
$list-header-bg-color: $base-color;

.favorite {
    border: 2px outset #C0C0C0; 
    padding: 5px 5px 5px 5px; 
    margin: 15px 15px 15px 15px;
    text-align: center;
}

.square {
    border-radius: 0px;
}

.contact-name{
    color:#00529D;
    padding-left: 4px;
    word-wrap: normal;
}

.toolbarCls {
    background:white!important;
    border-bottom:1px solid #C0C0C0 !important;

}

.emptyText {

    color: #C0C0C0 !important;
    position: absolute !important;
    text-align:center !important;
    vertical-align:middle !important;
    top: 50px !important;
    left:20px !important;

    font-size:4vw !important;
}

.dateValidity {
    color:grey;
    font-size:2.5vw;
    font-style:italics;
    font-weight:normal;

    margin:5px 5px 5px 0px;

}
.expiringDate {
    color:grey;/*#ff0000;*/
    font-size:2.5vw;
    font-style:italics;
    font-weight:normal;
    font-family:'Arial';
    margin:5px 5px 5px 0px;

}


.toolbar-icon-color{
    color:white;
}



.tabBarCls {
    padding: 5px,5px,5px,5px;
}



.x-field {
    /* border-bottom:2px groove #C0C0C0;*/
    background:url(resources/img/whitetexture.png);
    margin:5px 5px 5px 5px;
    height:7vh;
    font-weight:normal;
    text-align:center;
    vertical-align:middle;

    font-size:0.7em;






}




.customfield {
    border-bottom:none!important;
    margin:5px 5px 5px 5px;
    height:12vh;
    font-weight:normal;
    vertical-align:middle;

    font-size:4vw;







}


.customfield2 {

    margin:5px 5px 5px 5px;
    height:9vh;
    font-weight:normal;
    vertical-align:middle;

    font-size:3vw;
    border-bottom:2px ridge #c0c0c0;


}

.customfield2_input {


    font-weight:normal;
    vertical-align:middle;

    font-size:3.5vw;
    background:green;

}


.custmfield {
    margin:5px 5px 5px 5px;
    height:12vh;
    font-weight:normal;
    text-align:center;
    vertical-align:middle;

    font-size:4vw;
    border-bottom:none;   







}


.searchfield {

    margin:5px 5px 5px 5px;
    font-size:5vw;
    height:12vh;
    font-weight:normal;
    text-align:center;
    vertical-align:middle;

    border-radius:7px;
    background:white;






}

.searchfield1 {


    font-size:5vw;
    font-weight:normal;
    text-align:center;
    vertical-align:middle;

    background:white;






}

.wrapper {
    position:absolute; 
    z-index:1;
    top:45px; bottom:48px; left:0;
    width:100%;
    background:#aaa;
    overflow:auto;
}

/* list item rows */
.list-item {
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}

.list-item .photo {
    float: left;
    margin-right: 10px;
    width: 22vw;
    height: 16vh;
}

.list-item h1 {
    white-space: nowrap;
}

.list-item span {
    font-size: 75%;
}

/* photos */
.photo {
    /*border: 1px solid #999; */
    margin:5px 5px 5px 5px;
    width: 5%;
    height: 5%;
    float: left;
    background:none;
    padding:5px 5px 5px 5px;

}

.photo1 {
    /*border: 1px solid #999; */
    margin:1vh 5px 4vh 5px;

    float: left;
    background:none;
    padding:1vh 5px 1vh 5px;

}

.photo2 {
    /*border: 1px solid #999; */

    margin-left: -10vw;
    padding: 0;
    width: 10vw;
    height: 4vh;
    background:none;


}

.ribbon {
    background-color: #a00;  
    margin: auto;
    -webkit-transform: rotate(45deg);  
    -moz-transform: rotate(45deg);  
    -ms-transform: rotate(45deg);  
    -o-transform: rotate(45deg);  
    transform: rotate(45deg);
    border: 1px solid #faa;  
    color: #fff;  
    font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;   
    text-align: center;  
    text-decoration: none;  
    /* for creating shadow */ 
    background-color: #a00;  
    overflow: hidden;  
    /*white-space: nowrap;  
    /* top left corner */ 
    margin: 20px 0px 0px 0px; 

    float:right;  
    display:block;
    /*position: absolute; 
    right: 0px;  
    top: 0px;  
    */
}

.ribbon:before, .ribbon:after {
    border-color: #444444;
    border-style: solid;
    border-width: 0;
    border-top-width: 15px; /* This sets the height of the curls, making it half the width to angle the curls more. */
    content: ''; /* Tells the browser to actually generate the pseudo element */
    position: absolute;
}

.ribbon:before {
    /* Position the :before element to the left and below the ribbon element */
    left: 0;
    bottom: -15px; /* Equal to the height of the curl */
    border-left: 30px solid transparent; /* Makes the curl slant right */
}
.ribbon:after {
    /* Position the :after element to the right and below the ribbon element */
    right: 0;
    bottom: -15px; /* Equal to the height of the curl */
    border-right: 30px solid transparent; /* Makes the curl slant left */
}
#titlebar{
    text-align:center;
}


